<%- include ../includes/header %>

<div class="container d-flex align-itens-center justify-content-center mt-5">
    <div id="loginbox" class="main-form-login row g-3">
        <div class="text-center col-12 mb-2">
            <img class="img-logo-login" src="<%= Logotipo %>" width="200" height="90" alt="<%= NomeEmpresa %>">
        </div>

        <form id="login-form" class="row g-3 p-0 m-0" role="form" action="#" method="post">
            <div id="login-alert" class="alert alert-danger col-12 p-2">
                <i class="fa-solid fa-circle-exclamation"></i>
                <span id="mensagem"></span>
            </div>
            <div id="login-success" class="alert alert-success col-12 p-2">
                <i class="fa-regular fa-circle-check"></i>
                <span id="mensagem_success"></span>
            </div>
            <div id="login-msg" class="alert alert-primary col-12 p-2">
                <i class="fa-solid fa-arrow-right-to-bracket"></i> Faça o Login para continuar.
            </div>

            <div class="col-12">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="email" class="form-control" id="email" name="email" required placeholder="Informe seu E-mail">
            </div>

            <div class="col-12">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" class="form-control" id="senha" name="senha" required placeholder="Informe sua Senha">
            </div>

            <div class="col-12 text-center">
                <button type="button" class="btn btn-primary" name="btn-login" id="btn-login">Entrar</button>
            </div>

        </form>

    </div>

</div>

<%- include ../includes/footer %>